Source: ctparental
Section: utils
Priority: optional
Maintainer: Guillaume Marsat <guillaume.marsat@laposte.net>
Uploaders: Gilles Filippini <gilles.filippini@free.fr>
Homepage: https://github.com/pini-gh/CTparental.git
Vcs-Browser: https://github.com/pini-gh/CTparental.git
Vcs-Git: https://github.com/pini-gh/CTparental.git
Build-Depends: debhelper (>=7.0.50~)
Standards-Version:3.9.4

Package: ctparental
Architecture: all
Depends: dnsmasq,perl,sudo,lighttpd,php5-cgi,wget,libnotify-bin,notification-daemon,iptables-persistent
Description: Controle parental.
 Filtrage web basé sur dnsmasq, lighttpd et cron,
 une gestion des horaires de connection est aussi intégrée et
 une interface web (http://127.0.0.1/CTadmin) permettant de paramétrer tous ça.
 Le couple login mot de passe doit être saisi à l'install, mais peut être
 modifié par la suite grâce à la commande CTparental.sh -uhtml.
